# Auto detect text files and perform LF normalization
* text=auto

# Exclude these files from releases...
.gitignore export-ignore
.gitattributes export-ignore
CHANGELOG.md export-ignore
CONTRIBUTE.md export-ignore
README.md export-ignore
package.json export-ignore
gulpfile.js export-ignore
