* { margin: 0; padding: 0; border: 0; }

body { background: #ededed; }
body, td { font-family: Arial, Helvetica, sans-serif; font-size: 13px; }

a { color: #224488; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { letter-spacing: 1px; font-size: 23px; margin-bottom: 12px; margin-top: 25px; }
h4 { font-size: 14px; margin-bottom: 15px; }

.fleft { float: left }
.fright { float: right }
.fix { clear: both; }
.center { text-align: center }
.fsmall { font-size: 12px; }
.ftiny { font-size: 11px; }

.wrapper { width: 980px; margin: 0 auto; }
.container { display: block; position: relative; }
.box { overflow: hidden; background: #ffffff; padding: 15px; }
.shadow { box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
.transition { -webkit-transition: 300ms; -moz-transition: 300ms; -o-transition: 300ms; transition: 300ms; }

#topbar { background: #000; border-top: 1px solid transparent; color: #ccc; font-size: 11px; }
#topbar a { color: #ccc; display: inline-block; font-size: 10px; margin-right: 10px; padding: 8px 10px; text-transform: uppercase; -webkit-transition: 300ms; -moz-transition: 300ms; transition: 300ms; }
#topbar a:hover { background-color: #2a2a2a; color: #fff; text-decoration: none; }
#topbar a:last-child { margin-right: 0; }

button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner { padding: 0 !important; border: 0 none !important; }

textarea { overflow: auto; }
input[type=text], input[type=password], input[type=file],
select, textarea { font-family: Arial, Helvetica, sans-serif; font-size: 13px; border: 1px solid #cccccc; padding: 6px; border-radius: 3px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1) inset; outline: none; }
input[type=file] { font-family: Arial, Helvetica, sans-serif; border: 0; box-shadow: none; margin: 3px 0; }
input[type=button], input[type=submit] { font-family: Arial, Helvetica, sans-serif; padding: 7px 12px; border: 0; border-radius: 4px; color: #ffffff; background: #465068 url('../images/button-bg.png'); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); text-shadow: 1px 1px 0px #000; }
input[type=checkbox] { margin-right: 3px; vertical-align: text-top; }

input[disabled], textarea[disabled] { background: #f5f5f5; border: 1px solid #dddddd; box-shadow: none; }

.cancel { color: #900 !important; background: #eee url('../images/button-bg.png') !important; text-shadow: 1px 1px 0px #fff !important; border: 1px solid #ccc !important; padding: 6px 12px !important; }

.button-grey-default { border-radius: 7px; padding: 4px 10px 5px 10px; background: rgba(0, 0, 0, 0.1); color: #333333; text-shadow: 1px 1px 1px rgba(255, 255, 255, 1); font-weight: bold; font-size: 10px; cursor: pointer; white-space: nowrap; }
.button-grey-default:hover { text-decoration: none; background: rgba(0, 0, 0, 0.2); }
.white { color: #ffffff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 1); }

input[type=text]:focus, input[type=password]:focus,
input[type=file]:focus, textarea:focus { border: 1px solid #aaaaaa; transition: 300ms; }

.full { width: 90%; }
.large { width: 420px; }
.medium { width: 300px; }
.small { width: 200px; }
.tiny { width: 90px; }
.nano { width: 35px; }
.small-padding { padding: 3px; }

.input-box { background: #fdfdfd; border: 1px solid #eeeeee; padding: 10px; margin-bottom: 15px; }
.input-box-label { float: left; width: 140px; margin: 5px 0; font-size: 15px; font-weight: bold; margin-bottom: 15px; }
.input-box-field { margin-left: 150px; font-size: 12px; margin-bottom: 15px; }
.input-box-label:last-child,
.input-box-field:last-child { margin-bottom: 0 }
.input-box:last-child { margin: 0; }

.update-message { display: none; line-height: 16px; }
.loader { color: #999; display: none; line-height: 16px; }
.loader img { float: left; height: 16px; margin-right: 5px; width: 16px; }
.fail { color: #b00 }
.done { color: #090; }

#login-wrapper { display: table; position: fixed; width: 100%; height: 80%; top: 30px; }

.login-logo { text-align: center; margin-bottom: 20px; }
#login { background: #ffffff; width: 400px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); margin: auto; padding: 15px; }
#login td { padding: 5px; }

#logo { margin: 20px 0; display: table; width: 100%; }
#logo .logo-image { float: left; }

.section-nav-container { box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }

.section-navbar { background: #465068; padding: 5px 0 0 20px; }
.section-navbar a { display: inline-block; padding: 10px; margin-right: 20px; color: #ffffff; text-transform: uppercase; font-weight: bold; }
.section-navbar a:hover { text-decoration: none; background: #55617e; border-radius: 8px 8px 0 0; }
.section-navbar .nav-selected { background: #ffffff; color: #313848; border-radius: 8px 8px 0 0; }
.section-navbar .nav-selected:hover { background: #ffffff; color: #313848; border-radius: 8px 8px 0 0; }

.section-subnav { background: #ffffff; padding: 0 10px; margin-bottom: 15px; }
.section-subnav a { display: inline-block; padding: 10px 15px 7px 15px; color: #000000; text-transform: uppercase; font-weight: bold; font-size: 12px; border-bottom: 2px solid #fff; }
.section-subnav a:hover { text-decoration: none; border-bottom: 2px solid #eff5fb; }

#content { background: #ffffff; box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); margin: auto; padding: 15px; }

.table-list { width: 100%; border-spacing: 0; margin-bottom: 15px; }
.table-list tr th { text-align: left; padding: 10px; background: #465068; color:#ffffff; font-weight: bold; }
.table-list .subtitle td { font-weight: bold; font-size: 11px; padding: 5px 8px; background: #ffffff url('../images/bar-bg.png'); border-bottom: 1px solid #ccc; }
.table-list tr td { padding: 8px; background: #ffffff; border-bottom: 1px solid #eee; }
.table-list tr td i { color: #000; font-size: 18px; }
.table-list tr td .avatar { box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2); margin-bottom: -3px; }
.title { width: 1%; white-space: nowrap; text-align: right; font-weight: bold; }
.title-fixed { width: 23%; font-weight: bold; }
.title-desc { display: block; font-weight: normal; font-size: 11px; font-style: italic; }
.min { width: 1%; white-space: nowrap; text-align: center; font-weight: bold; }

.grid-row { display: table; width: 100%; }
.grid-half { display: table-cell; width: 49%; }
.grid-spacing { display: table-cell; width: 10px; }

.step-box { display: table; margin: 0 auto; margin-bottom: 20px; border-bottom: 3px solid #303747; }
.step-box-previous { display: table-cell; padding: 6px; width: 120px; text-align: center; color: #d9d9d9; }
.step-box-current { display: table-cell; padding: 6px; width: 120px; text-align: center; background: #465068; color: #ffffff; }
.step-box-next { display: table-cell; padding: 6px; width: 120px; text-align: center; }

.notification { clear: both; margin: 0 0 18px 0; }
.notification strong { margin-right: 5px; }
.notification p { font-size: 11px; padding: 10px 25px 10px 54px; margin: 0px; color: #565656; }
.warning { background: #ffe9ad url('../images/error.png') no-repeat 15px center; border: 1px solid #eac572; color: #826200; }
.success { background: #e5ffbb url('../images/accept.png') no-repeat 15px center; border: 1px solid #c1d779; color: #3C5A01; }
.failure { background: #fccac1 url('../images/exclamation.png') no-repeat 15px center; border: 1px solid #e18b7c; color: #AC260F; }
.info { background: #d1e4f3 url('../images/information.png') no-repeat 15px center; border: 1px solid #99c4ea; color: #235685; }
.debug { background: #f4f4f4 url('../images/debug.png') no-repeat 15px center; border: 1px dashed #999; color: #666; }

#footer { background: #000000; margin-top: 15px; padding: 8px; color: #cccccc; font-size: 11px; overflow: auto; }
#footer a { color: #cccccc; }
#footer a:hover { color: #ffffff; text-decoration: none; }