// Default accent color
$accent: #405169;
$accent-lighter: lighten($accent, 16%);
$accent-light: lighten($accent, 8%);
$accent-dark: darken($accent, 8%);
$accent-darker: darken($accent, 16%);

$default: #777;
$default-light: lighten($default, 20%);
$default-lighter: lighten($default, 40%);
$default-dark: darken($default, 10%);
$default-darker: darken($default, 20%);

// Default font (serif and sans-serif)
$font-sans: 'Helvetica Neue', Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', Times, serif;

// Media query
$small: 979px;
$xsmall: 599px;
