@import "reset";
@import "variables";
@import "grid";
@import "utils";

body {
	background-color: #f1f1f1;
	font-family: $font-sans;
	font-size: 14px;
}

a {
	color: #225599;
	text-decoration: none;
	&:hover {
		color: #992255;
		text-decoration: underline;
	}
}

// HEADINGS

h1 {
	font-size: 26px;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
	small {
		color: #bbb;
		display: block;
		font-size: 10px;
		font-weight: normal;
		letter-spacing: 0.1em;
		margin-bottom: 4px;
		text-transform: uppercase;
	}
}

h2 {
	font-size: 20px;
	letter-spacing: 0.1em;
	margin-bottom: 20px;
}

p {
	line-height: 1.4em;
}

// COMPONENTS

hr {
	margin: 20px 0;
}

.img-responsive {
	display: block;
	height: auto;
	max-width: 100%;
}

ul.breadcrumb {
	background-color: #fff;
	list-style: none;
	overflow: auto;
	padding: 10px;
	li {
		color: $default;
		float: left;
		font-size: 12px;
		&:before {
			content: ('/');
			padding: 0 10px;
		}
		&:first-child {
			&:before { display: none; }
		}
	}
}

.badge {
	background-color: #ccc;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	font-size: 9px;
	line-height: 20px;
	min-width: 20px;
	padding: 0 4px;
	text-align: center;
}

// FORMS

form {
	&.inline {
		.form-control {
			width: auto;
		}
	}
	.form-control-static {
		display: inline-block;
		line-height: 32px;
	}
	.error-message {
		color: #a00;
		display: none;
		font-weight: bold;
		line-height: 32px;
	}
}

.form-group {
	background-color: rgba(#000, 0.01);
	border: 1px solid #eee;
	margin-bottom: 10px;
	padding: 10px;
	&.grid {
		display: flex;
		flex-wrap: wrap;
		padding-left: 0;
		padding-right: 0;
	}
	& > label {
		font-size: 16px;
		font-weight: bold;
		padding-top: 8px;
		padding-bottom: 8px;
		small {
			color: $default-darker;
			display: block;
			font-weight: normal;
			font-size: 12px;
			font-style: italic;
			margin-top: 5px;
		}
	}
	@media (max-width: $xsmall) {
		.label, [class*=col-] {
			display: block;
			flex: 0 0 100%;
		}
	}
}

.input-group {
	display: table;
	&-addon {
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: #f4f4f4;
		display: table-cell;
		padding: 0 7px;
		width: 1px;
		&:first-child {
			border-right: 0;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.form-control {
		display: table-cell;
		&:first-child {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}
		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}

.form-control {
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0px 0px 2px rgba(#000, 0.1) inset;
	font-family: inherit;
	font-size: 14px;
	line-height: 1.3em;
	transition: 300ms;
	width: 100%;
	&:focus {
		border-color: #aaa;
	}
	&.error {
		border: 1px solid #c00;
		box-shadow: 0 0 5px rgba(#c00, 0.2);
	}
}

.form-control:not(textarea) {
	height: 32px;
	padding: 0 7px;
}

textarea.form-control {
	padding: 7px;
	resize: none;
}

.btn {
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(#000, 0.1);
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 14px;
	padding: 8px 12px;
	text-shadow: 1px 1px 0 #000;
	transition: 200ms;
	user-select: none;
	&:hover {
		text-decoration: none;
	}

	// Colors
	&.btn-default {
		background-color: $accent;
		color: #fff;
		&:hover {
			background-color: lighten($accent, 8%);
		}
		&:active {
			background-color: darken($accent, 5%);
			box-shadow: -1px 1px 5px rgba(#000, 0.2) inset;
		}
	}
	&.btn-link {
		background-color: transparent;
		box-shadow: none;
		color: #777;
		text-shadow: none;
		&:hover {
			color: #222;
		}
	}
	&.btn-disabled, &[disabled] {
		background-color: #ddd;
		box-shadow: none;
		color: #900;
		cursor: not-allowed;
		text-shadow: 1px 1px 0px #fff !important;
		&:hover {
			background-color: #ccc;
		}
		&:active {
			background-color: #ddd;
			box-shadow: none;
		}
	}

	// Sizes
	&.btn-lg {
		border-radius: 8px;
		font-size: 16px;
		font-weight: bold;
		padding: 10px 16px;
	}
	&.btn-sm {
		font-size: 12px;
		padding: 6px 10px;
	}

	// Level
	&.btn-block {
		display: block;
		width: 100%;
	}
}

.checkbox-control {
	display: block;
	padding-bottom: 5px;
	&:first-child { padding-top: 8px; }
	&:last-child { padding-bottom: 8px; }
	input { display: none; }
	span {
		border: 1px solid $default-lighter;
		background-color: #fff;
		border-radius: 3px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-family: FontAwesome;
		font-size: 12px;
		line-height: 14px;
		text-align: center;
		transition: 200ms;
		vertical-align: text-top;
		user-select: none;
		width: 16px;
	}
	input:checked + span {
		background-color: $accent;
		border-color: $accent;
	}
}

.radio-control {
	display: block;
	padding-bottom: 5px;
	&:first-child { padding-top: 8px; }
	&:last-child { padding-bottom: 8px; }
	input { display: none; }
	span {
		border: 1px solid $default-lighter;
		background-color: #fff;
		border-radius: 8px;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		height: 16px;
		position: relative;
		vertical-align: text-top;
		user-select: none;
		width: 16px;
		&:before {
			background-color: #fff;
			border-radius: 5px;
			content: ('');
			display: block;
			position: absolute;
			top: 2px;
			left: 2px;
			transition: 200ms;
			width: 10px;
			height: 10px;
		}
	}
	input:checked + span {
		&:before {
			background-color: $accent;
		}
	}
}

// ALERTS

.alert {
	border: 1px solid transparent;
	// font-size: 12px;
	margin-bottom: 20px;
	padding: 15px;
	&:before {
		display: inline-block;
		font-family: FontAwesome;
		margin-right: 10px;
	}
	&.alert-success {
		background-color: #e7ffb9;
		border-color: #c1d779;
		color: #3c5a01;
		&:before { content: ('\f058'); }
	}
	&.alert-danger {
		background-color: #fccac1;
		border-color: #e18b7c;
		color: #ac260f;
		&:before { content: ('\f057'); }
	}
	&.alert-warning {
		background-color: #ffe9ad;
		border-color: #eac572;
		color: #826200;
		&:before { content: ('\f071'); }
	}
	&.alert-info {
		background-color: #d1e4f3;
		border-color: #99c4ea;
		color: #235685;
		&:before { content: ('\f06a'); }
	}
}

// PROGRESS BAR
// SYNTAX:
//   .progress-bar
//     .fill(style="width: 100%")
//     span Inner label
//     .label
//       span Outer label

.progress-bar {
	border: 1px solid $accent;
	height: 20px;
	padding: 1px;
	position: relative;
	width: 100%;
	.fill {
		background-color: $accent;
		display: inline-block;
		height: 16px;
	}
	& > span {
		color: #ccc;
		font-size: 10px;
		position: absolute;
		text-transform: uppercase;
		top: 4px;
		right: 4px;
	}
	.label {
		overflow: visible;
		position: absolute;
		top: -1px;
		right: -15px;
		width: 1px;
		& > span {
			background-color: $accent;
			display: inline-block;
			color: #fff;
			font-size: 10px;
			line-height: 20px;
			padding: 0 5px;
			&:before {
				border-color: rgba(0, 0, 0, 0) #465068 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
				border-style: solid;
				border-width: 5px 5px 5px 0;
				content: "";
				height: 0;
				left: -5px;
				position: absolute;
				top: 5px;
				width: 0;
			}
		}
	}
}

.panel {
	.panel-title {
		background-color: $accent;
		border-radius: 4px 4px 0 0;
		color: #fff;
		font-weight: bold;
		padding: 10px;
	}
	.panel-content {
		background-color: #fcfcfc;
		border: 1px solid #eee;
		border-top: 0;
		border-radius: 0 0 4px 4px;
		&.body {
			padding: 10px;
		}
	}
}

ul.options-list {
	font-size: 10px;
	list-style: none;
	&.pull-left {
		li { margin-right: 10px; }
	}
	&.pull-right {
		li { margin-left: 10px; }
	}
	li {
		display: inline-block;
		text-transform: uppercase;
		a {
			color: $default-light;
			transition: 200ms;
			&:hover {
				color: $default;
				text-decoration: none;
			}
			i {
				font-size: 12px;
			}
			span {
				padding-left: 5px;
			}
		}
	}
}

// PAGINATION

.pagination {
	list-style: none;
	overflow: auto;
	&.condensed {
		li {
			margin: 0;
		}
	}
	li {
		border-radius: 3px;
		float: left;
		font-size: 12px;
		font-weight: bold;
		margin-right: 5px;
		&.label {
			font-weight: normal;
			line-height: 24px;
			margin-right: 10px;
		}
		&.active {
			background-color: $accent;
			a {
				color: #fff;
			}
		}
		a {
			color: $accent;
			display: block;
			line-height: 24px;
			min-width: 24px;
			padding: 0 4px;
			text-align: center;
			transition: 200ms;
			&:hover {
				background-color: rgba(#000, 0.05);
				text-decoration: none;
			}
		}
	}
}

// NAVIGATION TAB BAR

.nav {
	margin-bottom: 20px;
	&-top {
		background-color: $accent;
		overflow: auto;
		padding: 5px 20px 0 20px;
		a {
			border-radius: 5px 5px 0 0;
			color: #fff;
			float: left;
			font-weight: bold;
			margin-right: 20px;
			padding: 10px;
			text-transform: uppercase;
			transition: 300ms;
			&:hover {
				background-color: rgba(#fff, 0.1);
				text-decoration: none;
			}
			&.active {
				background-color: #fff;
				color: $default-darker;
			}
		}
	}
	&-bottom {
		background-color: #fff;
		overflow: auto;
		padding: 0 20px;
		a {
			border-bottom: 2px solid transparent;
			color: #000;
			float: left;
			font-size: 12px;
			font-weight: bold;
			margin-right: 20px;
			padding: 12px 10px 10px 10px;
			text-transform: uppercase;
			transition: 300ms;
			&:hover {
				border-color: $default-lighter;
				text-decoration: none;
			}
			&.active {
				border-color: $accent-lighter;
			}
		}
	}
	@media (max-width: $xsmall) {
		&-bottom {
			padding: 0;
			a {
				margin-right: 0;
			}
		}
	}
}

// BLOCKS

.block {
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(#000, 0.1);
	margin-bottom: 20px;
	padding: 10px;
	&.no-padding {
		padding: 0;
	}
	&.flat {
		box-shadow: none;
	}
	& > .row {
		margin-left: -10px;
		margin-right: -10px;
	}
	&-nav-content {
		padding: 0 20px 1px 20px;
	}
}

// TABLE

.table {
	border-collapse: collapse;
	margin-bottom: 20px;
	width: 100%;
	thead {
		tr {
			th {
				background-color: $accent;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
				padding: 10px;
				text-align: left;
			}
			td {
				background-color: #fafafa;
				border-bottom: 1px solid $default-lighter;
				font-size: 12px;
				font-weight: bold;
				padding: 10px;
				&.min {
					white-space: nowrap;
					width: 1px;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				background-color: #fff;
				border-bottom: 1px solid #eee;
				padding: 10px;
				&.min {
					white-space: nowrap;
					width: 1px;
				}
			}
			&:last-child {
				td { border: 0; }
			}
		}
	}
	&.vertical-aligned {
		td {
			vertical-align: top;
		}
	}
	&.no-border {
		tbody {
			td {
				border: 0;
			}
		}
	}

	// LABEL LINKS IN TABLE HEADER

	.label {
		display: inline-block;
		font-size: 10px;
		font-weight: normal;
		line-height: 22px;
		margin: -3px 0;
		margin-left: 5px;
		opacity: 0.5;
		padding: 0 8px;
		text-transform: uppercase;
		transition: 200ms;
		&.invert {
			background-color: rgba(#000, 0.3);
			color: #fff;
			a { color: #fff; }
		}
		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}
}
