// VARIABLES

$fontSans: Arial, sans-serif;
$fontMac: Helvetica Neue, Helvetica, sans-serif;
$fontSerif: Georgia, serif;
$accent: #465068;

// MIXINS

@mixin transition($ms) {
	-webkit-transition: $ms;
	-moz-transition: $ms;
	transition: $ms;
}
