// VARIABLES

$fontSans: Arial, 'Helvetica Neue', Helvetica, sans-serif;
$fontSerif: Georgia, serif;
$accent: #465068;

// MIXINS

@mixin transition($ms) {
	-webkit-transition: $ms;
	-moz-transition: $ms;
	transition: $ms;
}

// RESET

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
	margin: 0;
	outline: none;
	padding: 0;
}